<!DOCTYPE html>
<html>
<head>
  <title>Отправка JSON файла на бэкенд</title>
</head>
<body>
  <input type="file" id="fileInput">
  <button onclick="uploadFile()">Отправить</button>

  <script>
    function uploadFile() {
      const fileInput = document.getElementById('fileInput');
      const file = fileInput.files[0];

      const formData = new FormData();
      formData.append('file', file);

      const xhr = new XMLHttpRequest();
      xhr.open('POST', 'http://127.0.0.1:8000/upload', true);
      xhr.onreadystatechange = function() {
        if (xhr.readyState === 4 && xhr.status === 200) {
          console.log('Файл успешно отправлен на сервер.');
        }
      };
      xhr.send(formData);
    }
  </script>
</body>
</html>
